<div class="container">
  <div>
    <h1 class="greeting">Welcome To Penny Planner</h1>
  </div>
  <div class="btn-wrapper">
    <% if current_user %>
        <%= link_to 'Sign Out', destroy_user_session_path, class: 'btn sign-out' %>
    <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: 'btn sign-in' %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn sign-up' %>
    <% end %>
  </div>
</div>

