<div class="container">
<p style="color: green"><%= notice %></p>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>
<div class="category">
  <%= link_to "Add a New category", new_group_path, class: "btn category-btn" %>
</div
</div>
