<h1>Groups</h1>
<ul>
    <% @groups.each do |group| %>
        <li>
          <%= link_to group.name, group %>
          <%= link_to 'Remove', group_path(group), class: "remove-btn", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this group?" } %>
        </li>
    <% end %>
</ul>

<%= link_to 'New Group', new_group_path %>