<div class="wrapper">
  <% if user_signed_in? %>
    <h1>Welcome back!</h1>
    <p class="">Your financial journey starts here.</p>
    <%= link_to 'Start Planning', new_group_path, class: "btn start-planning" %>
  <% else %>
    <h1>Welcome to Penny Planner</h1>
    <p>Your personal finance assistant.</p>
    <div class="btn-wrapper">
      <%= link_to 'Login', new_user_session_path, class: "btn login" %>
      <%= link_to 'Sign-up', new_user_registration_path, class: "btn sign-up" %>
    </div>
  <% end %>
</div>
