<% @title = bill.name %>
<div class="bills">
<div class="bill-card">
  <p class="bill-transaction">Transactionº<%= bill.created_at.to_time.to_i %></p>
  <span class="fa fa-calendar"> <%= bill.created_at %></span>
  <div class="bill-payment-info">
    <p class="bill-payment">
      <strong>payment:</strong>
      $<%= bill.amount %>
    </p>
  </div>
</div>
</div>