@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #351d77;
  --secondar-color: #ec91c4;
  --body: #e8f0e4;
  --white: #fff;
  --yellow: #e9b14c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background-color: var(--body);
}

header {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all ease 0.8s;
  width: 15rem;
}

.login {
  background-color: var(--secondar-color);
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.login:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.sign-up {
  background-color: var(--primary-color);
  color: var(--white);
}

.sign-up:hover {
  background-color: var(--secondar-color);
  color: var(--primary-color);
}

.logout {
  width: 6rem;
  background-color: var(--yellow);
  color: var(--primary-color);
}

.logout:hover {
  background-color: var(--secondar-color);
  color: var(--white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6rem;
  height: 100vh;
}

.wrapper h1 {
  color: var(--primary-color);
  font-size: 2rem;
  text-align: center;
}

.wrapper p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: var(--primary-color);
}

.logo {
  font-size: 1.8rem;
  color: var(--yellow);
}

.logo small {
  font-size: 1rem;
  color: var(--secondar-color);
  font-weight: normal;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destroy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.start-planning {
  background-color: var(--primary-color);
  color: var(--white);
  margin-top: 3rem;
}

.start-planning:hover {
  background-color: var(--secondar-color);
  color: var(--primary-color);
}

.form-container {
  width: 80vw;
  margin: 3rem auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  color: var(--primary-color);
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.field {
  margin-bottom: 10px;
}

.field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="number"],
.field textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.actions input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all ease 0.8s;
  width: 100%;
  margin: 1rem 0;
}

.actions input[type="submit"]:hover {
  background-color: var(--secondar-color);
  color: var(--primary-color);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  font-weight: 700;
}
